body {
    background-color: lightgrey;
    margin: 0 0;
}

#canvas {
    border: 1px black dotted;
    border-radius: 10px;
    width: auto;
    height: 99vh;
}

@font-face{
    font-family: 'fantasy';
    src: url('planet.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}

#game {
    margin-left: 18vw;
}